html{
    scroll-behavior: smooth;
}
body{
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    /*font-family: Georgia;*/
    /*font-family: 'Times New Roman', Times, serif;*/
    margin: 0px;
    background-color: #454545;
}
a {
    color: white;
}
#container{
    display: inline-block;
    text-align: left;
    width:70%;
    min-width: 600px;
    max-width: 1000px;
    /*border-left-color: #A51C30;
    border-left-width: 1px;
    border-left-style: solid;

    border-right-color: #A51C30;
    border-right-width: 1px;
    border-right-style: solid;*/

}
#top-bar{
    display: none;
    width: 100%;
    background-color: #A51C30;
    color: white;
    font-family: Arial;
}
#top-bar a img{
    height: 20px;
    float: right;
}
#header{
    text-align: center;
}
#header-topping{
    margin: 20px;
    text-align: center;
    display:none;
}
#header-intro{
    text-align: left;
    /* color: rgba(0, 255, 0, 1); */
    color: white;
    background-color: #222222;
    display: inline-block;
    margin: 0px;

    width: calc(100% - 20px - 40px - 200px);

    border-width: 20px;
    border-color: #dfded2;
    border-style:solid;
    border-radius: 20px;

    border-right-width: 200px;
    border-bottom-width: 50px;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    padding: 20px;

    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);*/

    margin-top: 20px;

}
#header-intro-text-container{
    height: 15em;
    display: block;
}
#header-intro img{
    float: right;
    width: 150px;
    position: relative;
    left: 190px;
    top: 20px;
}
#nav{
    padding: 10px;
    background-color: #222222;
    text-align: left;
    color: white;
}
.nav-choice{
    display: inline-block;
    border: 1px #808080 solid;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    cursor: hand;
    transition: background-color .3s;
    margin: 5px;
    background-color: black;
}
.nav-choice:hover{
    background-color: #A51C30; /* Harvard Crimson */ 
    color: white;
    border-color: #A51C30;
}
.project {
    padding: 20px;
    background-color: white;
}
.project-img {
    width: calc(100% - 50px);
    margin: 25px;
    margin-bottom: 5px;
}
.project-text {
    vertical-align: top;
}
.project h1 {
    margin: 5px;
    margin-left: 0px;
    font-size: 20px;
}
.project-description {
    font-size: 16px;
    line-height: 1.7em;
}
.project a {
    font-size: 10px;
    padding-bottom: 20px;
}
.project a img{
    width: 50px;
    margin-top: 15px;
}
#mobile-prof {
    display: none;
}
.break {
    background-color: #A51C30;
    height: 3px;
}
.extLink {
    all: unset;
    font-size: 1rem !important;
    text-decoration: underline;
}
.extLink:hover {
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    #container {
        width: 100%;
        min-width: 50px;
    }
    #top-bar {
        background-color: #222222;
        height: 44px;
        display: block;
    }
    #mobile-prof {
        display: inline-block;
        height: 30px;
        border-radius: 5px;
        margin: 7px;
        margin-left: 20px;
    }
    #top-bar a img {
        height: 30px;
        margin: 7px;
    }
    #top-bar img {
        height: 30px;
        margin: 7px;
    }
    #header {
        text-align: center;
        padding: 15px;
    }
    #header-intro{
        text-align: left;
        padding-top: 0px;
        padding-left: 0px;
        width: calc(100% - 60px);

        border-width: 20px;
        border-color: #e0e0e0;
        border-style:solid;
        border-radius: 20px;

        padding: 10px;

        margin-top: 0px;

        font-size: 13px;
    }
    #header-intro img {
        display: none;
    }
    #header-intro-text-container{
        height: 17em;
    }
    .break {
        background-color: #A51C30;
        height: 3px;
    }
}
