body {
    font-size: 16pt;
    font-family: 'Times New Roman', Times, serif;
}
#container {
    margin: 1rem 20px;
    display: flex;
    justify-content: center;
}
#centered-container {
    width: 800px;
}
#content-container {
    margin: 2rem 0px;
    line-height: 1.5em;
}
#content-container p:first-of-type::first-letter {
    font-size: 2em;
    float: left;
    margin-right: 5px;
}
.full-width {
    width: 100%;
}
li {
    padding: 5px 0px;
}
ul {
    margin: 2rem 0px;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
pre {
    font-size: .8em;
    width: 100%;
    overflow: scroll;
    white-space: pre-wrap;
    background: #f0f0f0;
    padding: 10px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}
code {
    background-color: #f0f0f0;
    font-size: .8em;
    padding: .1em .2em;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}
.social-icon {
    width: 20px;
    height: 20px;
}
#author-block {
    display: flex;
    align-items: center;
    gap: 5px;
}
